.product-detail-page {
    display: flex;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.product-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border-right: 2px solid #ddd; 
}

.product-image img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
    object-fit: cover;
}

.product-detail-content {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
}

.product-info h2,
.product-info .description,
.stock-price {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background-color: #f9f9f9;
}

.product-info h2 {
    font-size: 2rem;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 15px;
    color: #333;
}

.product-info .description {
    font-size: 1rem;
    color: #666;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.stock-price {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-top: 15px;
}

.stock-price .price {
    font-weight: bold;
    color: #e91e63;
}

.add-cart-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-bottom: 40px;
}

.add-cart-btn:hover {
    background-color: #0056b3;
}



@media (max-width: 900px) {
    .product-detail-page {
        flex-direction: column;
    }
    .product-image, .product-detail-content {
        flex: none;
        width: 100%;
        height: 50%;
    }
    .add-cart-btn {
        position: static;
        align-self: stretch;
        text-align: center;
    }
}
